.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-color: var(--bg-color);
  box-sizing: border-box;
  background-size: cover;
  max-width: 1024px;
  padding-block-start: 20px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: 100vh;
  min-height: 768px;
  width: 100%;
  position: relative;
}

.decorated-zone {
  position: relative;
  block-size: 748px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-accent-color);
  border-right: 1px solid var(--header-accent-color);
}

.header__theme-menu {
  padding-inline-start: 23px;
  padding-inline-end: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-accent-color);
  border-left: 1px solid var(--header-accent-color);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 10px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: var(--main-text-size);
  font-family: var(--main-font), monospace;
  justify-self: center;
  padding-block-end: 276px;
  color: var(--nav-color);
}

.content-section {
  margin-block-end: 80px;
}

.rec-element {
  position: absolute;
  top: 3px;
  right: 48px;
  color: var(--accent-color);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  line-height: 25px;
  display: var(--rec-display, none);
  z-index: 1;
}

.rec-element::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -17px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 3px var(--accent-color);
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  color: var(--nav-color);
  padding: 0 13px;
  cursor: pointer;
  position: relative;
  transition: border 0.3s ease;
}

.header__theme-menu-button:not(.header__theme-menu-button_active) {
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color);
  pointer-events: none;
}

.page-title {
  font-family: var(--main-font), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--page-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-end: 113px;
  line-height: 83%;
  word-break: break-word;
}

.header-text {
  inline-size: min(491px, 100%);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: var(--accent-weight);
  background-color: var(--accent-color);
  justify-self: end;
  margin-inline-end: 20px;
  color: var(--accent-text-color);
  box-sizing: border-box;
}

.line {
  display: block;
}

.concentration-problems {
  margin-block-start: 40px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 12px;
  margin-block-end: 72px;
}

.information-unit {
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  padding-inline: 20px;
  width: 100%;
  box-sizing: border-box;
}

.text-blocks {
  display: grid;
  grid-column: 2;
  grid-template-rows: repeat(4, min-content);
  gap: 10px;
  inline-size: min(648px, 100%);
  width: 100%;
  box-sizing: border-box;
}

.description-title {
  background-color: var(--accent-color);
  font-weight: var(--accent-weight);
  font-size: var(--main-text-size);
  color: var(--accent-text-color);
}

.section-title {
  font-weight: var(--accent-weight);
  font-size: var(--main-text-size);
  max-inline-size: min(310px, 100%);
  color: var(--section-title-color);
  width: 100%;
}

.description {
  line-height: 23.4px;
  color: var(--main-text-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.description:not(.recommendations .description) {
  padding-block-end: 10px;
}

.text-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(314px, 100%), 1fr));
  padding-block-start: 20px;
  gap: 19px;
  width: 100%;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
  width: 100%;
}

.attention-factors {
  margin-block-end: 70px;
  width: 100%;
}

.concentration-methods {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 10px;
  width: 100%;
  margin-block-end: 71px;
}

.recommendations {
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 10px;
  width: 100%;
}

.method-title {
  font-size: var(--main-text-size);
  font-family: var(--main-font), monospace;
  background-color: var(--accent-color);
  margin-block-start: 5px;
  font-weight: 400;
}

.recommendations .description-title {
  margin-block-end: 5px;
}

.recommendations .description {
  margin-block-end: 5px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  margin: 0;
  gap: 20px;
  width: 100%;
}

.gallery-item {
  margin: 0;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: 1/3;
  grid-row: 1;
}

.tape {
  grid-column: 1;
  grid-row: 2/4;
}

.street {
  grid-column: 2/4;
  grid-row: 3;
}

.books {
  grid-column: 2;
  grid-row: 2;
}

.ice-cream {
  grid-row: 1/3;
  grid-column: 3;
}

.gallery {
  display: grid;
  grid-template-rows: min-content;
  gap: 20px;
  margin-block-start: 75px;
  margin-block-end: 80px;
  width: 100%;
}

.page-footer .page-title {
  font-weight: var(--accent-weight);
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 0 var(--footer-accent-color);
  padding-block-start: 297px;
  padding-block-end: 281px;
  word-break: break-word;
  padding-inline: 20px;
  box-sizing: border-box;
}

.page-footer {
  position: relative;
  height: 100vh;
  min-height: 768px;
  width: 100%;
}

.description a {
  color: var(--main-text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: border-bottom 0.3s ease;
  word-break: break-word;
}

.description a:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.description a:focus {
  outline: none;
}

.description a:focus-visible {
  border: 1px solid var(--main-text-color);
}

@media (max-width: 767px) {
  .page {
    padding-block-start: 10px;
    max-width: 100%;
  }

  .header {
    min-height: 668px;
    height: inherit;
  }

  .decorated-zone {
    block-size: 648px;
  }
  
  .rec-element {
    top: 2px;
    right: 38px;
  }

  .rec-element::after {
    top: 7px;
    right: -19px;
  }

  .decorated-zone::before {
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 0;
  }

  .header__theme-menu {
    padding-inline: 10px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr;
    gap: 12px;
    padding-block: 63px 65px;
    justify-self: end;
    width: min-content;
  }

  .page-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-end: 56px;
    padding-inline: 10px;
  }

  .header-text {
    inline-size: 100%;
    margin-inline: 10px;
    max-width: calc(100% - 20px);
  }

  .information-unit {
    padding-inline: 10px;
  }

  .concentration-problems {
    margin-block: 30px 40px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .text-blocks {
    grid-column: 1;
    gap: 12px;
  }

  .recommendations .description-title {
    margin-block-end: 7px;
  }

  .section-title {
    max-inline-size: 100%;
  }

  .text-cards {
    grid-template-columns: 1fr;
    gap: 13px;
    padding-block-start: 22px;
  }

  .attention-factors {
    margin-block-end: 43px;
  }

  .concentration-methods {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-block-end: 0;
  }

  .gallery {
    margin-block: 46px 50px;
    gap: 10px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 142px 355px 237px 355px 237px;
    gap: 10px;
  }

  .sunset {
    grid-column: 1;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 1;
    grid-row: 2;
  }

  .tape {
    grid-column: 1;
    grid-row: 3;
  }

  .books {
    grid-column: 1;
    grid-row: 4;
  }

  .street {
    grid-column: 1;
    grid-row: 5;
  }

  .page-footer .page-title {
    padding-block-start: 278px;
    padding-block-end: 285px;
    padding-inline: 10px;
  }

  .description:not(.recommendations .description) {
    padding-block-end: 7px;
  }

  .page-footer {
    height: inherit;
    min-height: 660px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .page {
    max-width: 100%;
  }

  .header {
    min-height: 1024px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr;
    gap: 12px;
    padding-block: 170px 150px;
    justify-self: end;
    width: min-content;
  }

  .page-title {
    padding-block: 25px 161px;
  }

  .header-text {
    inline-size: min(364px, 100%);
  }

  .concentration-problems {
    margin-block-end: 71px;
    gap: 20px;
  }

  .text-cards {
    grid-template-columns: 1fr;
    gap: 10.5px;
  }

  .attention-factors {
    margin-block-end: 71px;
  }

  .concentration-methods {
    gap: 20px;
    margin-block-end: 76px;
  }

  .gallery {
    margin-block: 61px 81px;
  }

  .gallery-grid {
    grid-template-rows: 192px 230px 318px;
  }

  .page-footer .page-title {
    padding-block: 442px 434px;
  }

  .section-title {
    max-inline-size: min(236px, 100%);
  }

  .decorated-zone {
    min-height: 1004px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .text-blocks {
    max-inline-size: 100%;
  }
}